{% extends "layout/default.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/portal.css') }}">
{% endblock %}
{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-middle">
        <h1 class="w3-xxxlarge w3-animate-top"><b>Plan My Ride</b></h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-xlarge w3-center"><b>Ron Avizemer and Eden Shaim</b></p>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
    </div>
</div>
{% endblock %}