{% extends "layout/default.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/portal.css') }}">
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="dl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col flashes {{category}}">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="w3-display-middle" style="top: 35%">
        <p class="w3-xxxlarge w3-center"><b>Upload Data</b></p>
        <form class="upload-form" name="upload" method="post" action="{{ url_for('upload_file') }}"
              enctype="multipart/form-data">
            <input type="file" id="Stream" name="files" onchange="document.forms.upload.submit()" hidden/>
            <label for="Stream"
                   class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off">Stream
                File</label>
            <input type="file" id="Batch" name="fileb" onchange="document.forms.upload.submit()" hidden/>
            <label for="Batch"
                   class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off"
                   style="right: 0;position: absolute;">Batch
                File</label>
        </form>
    </div>
</div>

</body>
</html>
{% endblock %}
