{% extends "layout/default.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/portal.css') }}">
{% endblock %}
{% block content %}

<div class="w3-display-container w3-animate-opacity w3-text-black" style="    padding-block-start: 60px; text-align: center;">
        <h1 class="w3-xxlarge w3-animate-top"><b>Plan your ride for an easy day 🥰</b></h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
</div>

<div id="contentframe" style="position:absolute; top: 50px; left: 0px;height: 100%; width: 100%; padding-left:1.5%">
    <form action="{{ url_for('dashboard1') }}" method="post" style="display: inline-block; padding-left:1.5%; width:100%">
        <br>
        <br>
        <br>
        <br>
        <br>
        <label for="source" style="padding-inline-end: 29px;">Source:</label>
        <select id="source" name="source" onchange="this.form.submit()" style="width:250px;">
            {% if source is defined %}
            <option selected="selected">{{source}}</option>
            {% endif %}
            {% for station in stations %}
            <option value="{{station}}">{{station}}</option>
            {% endfor %}
        </select>
        <label style="padding-inline-start: 380px; padding-inline-end: 10px" for="line" >Line:</label>
        <select id="line" name="line" onchange="this.form.submit()" style="width:250px;">
            {% if line is defined %}
            <option selected="selected">{{line}}</option>
            {% endif %}
            {% for line in lines %}
            <option value="{{line}}">{{line}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="dest">Destination:</label>
        <select id="dest" name="dest" onchange="this.form.submit()" style="width:250px;">
            {% if dest is defined %}
            <option selected="selected">{{dest}}</option>
            {% endif %}
            {% for station in stations %}
            <option value="{{station}}" >{{station}}</option>
            {% endfor %}
        </select>

    </form>
    <br><br>
    <br><br>
    <div style="padding-inline-start: 20px">{{df|safe}}</div>

    <div id="map" style="right:0%; top:25%; position:absolute; padding-right:1.5%; width: 600px; height:50px">
        {{map|safe}}
    </div>
</div>
{% endblock %}